{% extends 'base.html.twig' %}

{% block title %}Conditions Générale d'Utilisation{% endblock %}

{% block body %}

{% if is_tldr %}
    <p>Bah c'est des CGU quoi</p>
{% else %}
    {{ cgu_content|raw }}
{% endif %}

{% endblock %}