{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog{% endblock %}

{% block body %}

<h1>{{ slogan }}</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat magnam esse fugit suscipit, possimus
    provident quam quisquam quos in. Recusandae itaque alias facilis culpa corporis! Vitae, labore voluptatum? Eligendi
    assumenda, asperiores magnam ipsam ipsum voluptate odio delectus pariatur suscipit dignissimos libero saepe tempore
    molestiae et adipisci labore cum? Asperiores.</p>
<p>Autem voluptatum illo ullam corporis et, ducimus mollitia reiciendis natus accusamus animi porro iure quam atque
    cupiditate facere similique distinctio minus? Doloribus optio esse laboriosam voluptatibus, aperiam recusandae nemo.
    Aut iste minus nobis, necessitatibus maiores itaque eveniet iure dolores facere odio facilis, repellendus voluptatem
    dolore unde et molestias aspernatur nam!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quidem officia quos velit. Voluptatum id consequatur
    quisquam quibusdam voluptate ea blanditiis repellat explicabo placeat necessitatibus exercitationem laboriosam,
    obcaecati optio distinctio.</p>
<p>Itaque ut fugiat quidem rerum! Beatae pariatur autem architecto saepe vitae inventore tenetur, voluptatem eveniet
    vero soluta eligendi cumque aliquid magni, nemo amet laudantium perferendis ullam et quisquam? Iste, nisi?</p>

{% endblock %}