<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">

   
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('article') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('article_new') }}">Creer Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cgu') }}">CGU</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>

</html>