{#{ form_start(formArticle) }}

en suivant <a href="reco.html">reco</a>
{{ form_widget(formArticle.title) }}
{{ form_widget(formArticle.content) }}
{{ form_widget(formArticle.image) }}

<button type="submit" class="btn btn-primary">{{ btnLabel }}</button>

{{ form_end(formArticle) }#}
{{ form_start(formArticle) }}
<div class="row">
    <div class="col-6">{{ form_row(formArticle.title) }}</div>
    <div class="col-6">{{ form_row(formArticle.image) }}</div>
    <div class="col">{{ form_row(formArticle.content) }}</div>
</div>

<button type="submit" class="btn btn-primary">{{ btnLabel }}</button>
{{ form_end(formArticle)}}