{% extends 'base.html.twig' %}

{% block title %}Mon Blog - Ajouter un article{% endblock %}

{% block body %}
<h1>Editer un article</h1>

{% include "article/_form.html.twig" %}

<a href="{{ path('article_delete', {'id': article.id}) }}" id="btnDelete" class="btn btn-danger">supprimer l'article</a>


{% endblock %}

{% block javascripts %}
<script>
    // document.getElementById('btnDelete');
    // on attend que toute la page soit chargé
    window.addEventListener('load', function () {
        // demande validation pour la suppression de l'article
        document.querySelector('#btnDelete').addEventListener('click', function (event) {
            if(!confirm("Voulez vous supprimer cette article ?")) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}