{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

{% for article in articles %}
<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt|date("d/m/Y") }} à {{ article.createdAt|date("H:i") }} dans la catégorie Politique</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        <section>
        {{ article.content|raw }}
        </section>
        <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite</a>
    </div>
</article>
<hr>
{% endfor %}


{% endblock %}