{% extends 'base.html.twig' %}

{% block title %}Mon Blog - Ajouter un article{% endblock %}

{% block body %}
<h1>Ajouter un article</h1>

   {% include "article/_form.html.twig" %}
    


    {#{ form_start(formArticle) }}

    <label for="content">
        {{ form_widget(formArticle.content) }}
    </label>
        {{ form_widget(formArticle.title) }}
    {{ form_end(formArticle) }#}


<!--
Methode 1
<form action="" method="post">
    <label for="title">Titre</label>
    <input type="text" class="form-control" name="title">
    <label for="image">image</label>
    <input type="text" class="form-control" name="image">
    
    <label for="content">Contenu</label>
    <textarea name="content" class="form-control" id="" cols="30" rows="10"></textarea>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
-->
{% endblock %}