{% extends 'base.html.twig' %}

{% block title %}Mon Blog - {{ article.title }}{% endblock %}

{% block body %}

<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt|date("d/m/Y") }} à {{ article.createdAt|date("H:i") }} dans la catégorie {{ article.category.title }}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        <section>
            {{ article.content|raw }}
        </section>
    </div>
    <!-- FIXME a n'afficher que si l'ont est admin-->
    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning">modifier l'article</a>
    <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-danger">supprimer l'article</a>
</article>
<section id="commentaires">
    <div class="comment">
        {#{ article.comments[0].author }#}
        {% for comment in article.comments %}
        <div class="row">
            <div class="col-3">
                {{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y à H:i') }}</small> )
            </div>
            <div class="col-9">
                {{ comment.content|raw }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}